<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <!-- login sevles -->
    <servlet>
        <servlet-name>SomeController</servlet-name>
        <servlet-class>Controllers.SomeController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>MsgFormServlet</servlet-name>
        <servlet-class>Controllers.MsgFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controllers.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SomeController</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>MsgFormServlet</servlet-name>
        <url-pattern>/msgForm</url-pattern>
    </servlet-mapping>
</web-app>
